<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1 id="brand"><a href="/">Lambda</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!--Left section-->
        <ul class="left">
            <li><a href="/about">About</a></li>
            <li><a href="#" data-dropdown="drop">Programs</a></li>
            <ul id="drop" class="f-dropdown" data-dropdown-content aria-hidden="true">
                <li style="width:100%"><a href="/setup/sharex">ShareX</a></li>
            </ul>
        </ul>

        <!--Right section-->
        <ul class="right">
                <li class="active"><a href="/login">Sign In</a></li>
        </ul>
    </section>
</nav>