{% extends "formbase.html" %}

{% block logo %}<i class="fa fa-pencil-square-o"></i>{% endblock %}

{% block title %}Register{% endblock %}

{% block form %}
<form action="/register" method="post" >
    <div class="row">
        <input name="username" type="text" placeholder="Username" class="inputbox"/>
    </div>
    <div class="row">
        <input name="password" type="password" placeholder="Password" class="inputbox"/>
    </div>
    <div class="row">
        <input name = "password2" type="password" placeholder="Password (Again ☹)" class="inputbox"/>
    </div>
    <div class="row" style="width:300px">
        <div class="g-recaptcha" data-sitekey="{{ recaptcha_public }}" style="margin-bottom:10px"></div>
    </div>
    <input type="submit" class="round button login-button" style="" value="Register"/>
</form>
{% endblock %}

{% block scripts %}
    <script src='//www.google.com/recaptcha/api.js'></script>
{% endblock %}