{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block content %}
<div class="upload-content">
  <div class="upload-title" id="uploadTitle" onclick="document.getElementById('chooseFile').click();return false;">Drag and drop a file or click here to select a file.</div>
  <div id="uploadProgress" class="upload-progress-container"></div>
  <div id="finishedUploads" class="upload-title finished" hidden>
    Finished Uploads
  </div>
</div>
  <input type="file" id="chooseFile" style="visibility: hidden;"></input>
{% endblock %}

{% block scripts %}
    <script src="/static/js/page/upload/upload.js" type="text/javascript"></script>
    <script type="text/javascript">
      apikey = "{{ user.ApiKey }}";
      sizeLimit = {{ max_filesize_mb }};
      allowedTypes = [
        {% for type in allowedTypes %}
        "{{type}}",
        {% endfor %}
      ];
    </script>
{% endblock %}
